@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap");

@font-face {
  font-family: "Cherry";
  src: url(/fonts/Cherry\ Bird\ Demo.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  border-bottom: 1px solid #f4a904;
}

.logo {
  font-family: "Fira Code";
  line-height: 10px;
  color: #f4a904;
}

#space {
  margin-left: 40px;
}


nav {
  text-align: right;
}

a {
  color: #f4a904;
  font-size: 15px;
  font-family: "Fira Code";
  text-decoration: none;
  margin-right: 30px;
}


#button {
  display: inline-block;
  background-color: black;
  height: 50px;
  line-height: 60px;
  padding: 5px 8px;
  border-radius: 4px;
  box-shadow: 1.5px 1.5px 0 #f4a904;
  margin-right: 0;
}

#button:hover {
  background: #dddcdc;
  transition: .8s;
  color: black;
}

.about_me {
  background-color: #dddcdc;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 10px;
  font-family: "Fira Code";
}

.about {
  display: flex;
}

h2 {
  margin: 20px;
  color: #f4a904;
}

p {
  max-width: 600px;
  text-align: left;
  font-family: sans-serif;
  font-size: .8em;
  line-height: 25px;
  margin-left: 5px;
}

img {
float: right;
height: 300px;
object-fit: cover;
}

